.text-center {
  text-align: center;
}
.w-100 {
  width: 100%;
}
.table-row {
  border-bottom: 1px solid black;
}
td {
  padding: 5px;
}
table {
  border-collapse: collapse;
}
.text-right {
  text-align: right;
}
